@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


.left-line{
  width: 3px;
  height: 60%;
  bottom: 0px;
  position: absolute;
  right: -15px;
  border-radius: 50px 50px 0px 0px;
  z-index: 10;
}
.left-line::after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: inherit;
  border-radius: 50%;
  right: -6px;

}

.back-line{
  width: 1px;
  height: 50%;
  bottom: 0px;
  position: absolute;
  left: 12px;
  border-radius: 50px 50px 0px 0px;
  background-color: #4141414a;
}

.black-line-border{
  border-left: 1px solid #41414145;
}

#intro-art-svg{
  animation: animate_intro_art 2s ease-in-out  0.3 forwards;
  animation-iteration-count: infinite;

}

#intro-art-svg path{
  opacity: 0.4 !important; 
}


#iris path {
  fill: #221638 !important;
  opacity: 0.1 !important;
}

#intro-art, #full-art{
  fill: none !important;
 
}
#intro-art path {
  stroke: grey !important;
  fill: none;
  z-index: 100;
}

#pupil path {
  stroke: #FE4A55 !important;
  stroke-width: 2 !important;
  stroke-opacity: 1;
  opacity: 1 !important;
}


#full-art path{
  stroke : grey !important;
  fill: none;
  z-index: 100;
  opacity: 0.3;
}

.hat-svg{
  opacity: 0.6;
  scale: 0.2;
  position: absolute;
  top : 0px;
  left: 0px;
}
.hat-svg path{
  stroke: grey;
  fill: none;
  
}




@keyframes animate_intro_art {
   
  50%{
    translate:  -20px 10px;
  }
 
}