@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}


.left-line{
  width: 3px;
  height: 52%;
  bottom: 0px;
  position: absolute;
  right: -15px;
  border-radius: 50px 50px 0px 0px;
  z-index: 10;
}
.left-line::after{
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: inherit;
  border-radius: 50%;
  right: -6px;

}

.back-line{
  width: 1px;
  height: 50%;
  bottom: 0px;
  position: absolute;
  left: 12px;
  border-radius: 50px 50px 0px 0px;
  background-color: #4141414a;
}

.swap-line{
  scroll-snap-align: start !important;
  scroll-behavior: smooth;
}
.swap-line:first-child{
  margin-top: 200px !important;

}
.swap-line:last-child{
  scroll-snap-align: end !important;
  margin-bottom: 200px;
}

.black-line-border{
  border-left: 1px solid #41414145;
}

#intro-art-svg{
  animation: animate_intro_art 2s ease-in-out  0.3 forwards;
  animation-iteration-count: infinite;

}

#intro-art-svg .hair path {
  stroke: #FE4A55 !important;
  opacity: 1 !important;
  stroke-width: 0.9;
  stroke-dasharray:100%;
  stroke-dashoffset: 1000;

  animation : stroke-animation 8s ease-in-out 0.3 forwards;
  animation-iteration-count: infinite;

}

#intro-art-svg path{
  opacity: 0.4 !important; 
}



#iris path {
  fill: #221638 !important;
  opacity: 0.1 !important;
}

#intro-art, #full-art{
  fill: none !important;
 
}
#intro-art path {
  stroke: grey !important;
  fill: none;
  z-index: 100;
}

#pupil path {
  stroke: #FE4A55 !important;
  stroke-width: 2 !important;
  stroke-opacity: 1;
  opacity: 1 !important;
}


#full-art .hair path {
  stroke: #FE4A55 !important;
  opacity: 1 !important;
  stroke-width: 0.9;
  stroke-dasharray:100%;
  stroke-dashoffset: 1000;

  animation : stroke-animation 8s ease-in-out 0.3 forwards;
  animation-iteration-count: infinite;


}
#full-art path{
  stroke : grey !important;
  fill: none;
  z-index: 100;
  opacity: 0.3;
}


.hat-svg{
  opacity: 0.6;
  scale: 0.2;
  position: absolute;
  top : 0px;
  left: 0px;
}
.hat-svg path{
  stroke: grey;
  fill: none;
  
}


.animate_project {
  
  z-index: 1000;
  animation: animate-project 1s ease-in-out;
  left: 0px !important;
  top:0px !important;
  animation-iteration-count: initial;
  animation-direction: normal;
  /* transform: translate(0px, 100vh); */
}


.project-image{
  transition: 1s;
  border: 4px solid #FE4A55 !important;
  border-radius: 20px;

}
.project-image:hover{
  filter: none !important;
  opacity: 1 !important;
  /* right: 260px; */
  /* z-index: 1000; */
}


.mist{
  position: absolute;
  height: 150px;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.427);
  box-shadow: 5px 5px 10px rgba(255, 255, 255, 0.42);
  filter: blur(100px) !important;
  z-index: 10000;
  
}

.mist div{
  height: 150px;
  background-color: white;
}

.footer-mist{
  bottom: 0px;
}


@keyframes animate_intro_art {
   
  50%{
    translate:  -20px 10px;
  }
 
}

@keyframes stroke-animation {
  
  50%{
    stroke-dashoffset: 35%;
  }
}

@keyframes animate-project {
  
   
  50%{
    width: 100vw !important;
    height: 100vh !important;
  
  }

}
